[project]
	description = tacoco the per testcase (method) junit runner
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/tariq1890
[access "refs/for/refs/*"]
	read = group user/tariq1890
	push = group user/tariq1890
	label-Code-Review = -2..+2 group user/tariq1890
	label-Verified = -1..+1 group user/tariq1890
	rebase = group user/tariq1890
	removeReviewer = group user/tariq1890
	submit = group user/tariq1890
[access "refs/heads/*"]
	read = group user/tariq1890
	create = group user/tariq1890
	push = +force group user/tariq1890
	pushMerge = group user/tariq1890
[access "refs/tags/*"]
	push = +force group user/tariq1890
	pushTag = group user/tariq1890
	pushSignedTag = group user/tariq1890
